body {
	padding: 0;
	margin: 0;
	font-family: serif;
}

#home {
	font-size: 1.2em;
	font-weight: bold;
	color: black!important;
}

#path {
	background-color: #c0ffa0;
	padding: 0.3ex 0.3ex 0.3ex 0.3ex;
}

.path_sep {
	font-weight: bold;
}

.menu_border {
	background-color: transparent;
	padding: 0.7em 0 0 0;
}

.footer_border {
	background-color: transparent;
	padding: 0.7em;
}

.path_item {
	font-weight: bold;
}

.path_item_cur {
	font-weight: bold;
	color: black!important;
}

#nav {
	width: 100%;
	clear: both;
}

#nav ul {
	background-color: #ddeeee;
	list-style-type: none;
	list-style-image: none;
	border: 0;
	margin: 0 0.7em 0 0.7em;
	padding: 0.3em;
}

#nav li {
	display: inline;
	white-space: nowrap;
	line-height: 1.6em;
	border: 0;
	margin: 0;
	padding: 0;
}

#nav li.cur_page a {
	color: black!important;
	font-weight: bold;
}

#nav ul li a {
	padding: 0.1em 1ex 0.1em 1ex;
	background-color: transparent;
	font-size: 1em;
	border: 0;
}

#header {
	background-color: white;
	padding: 0.2ex 0ex 0.2ex 0.3ex;
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	width: 100%;
	clear: both;
	background-color: #ddeeee;
}

#content {
	background-color: white;
	padding: 0.5em 2em 0.5em 2em;
}

